<template>
    <div class="form-group">
        <label v-if="label" :class="{'required': required}">{{ label }}</label>
        <div class="custom-file">
            <input type="file" class="custom-file-input" :disabled="disabled" :class="{ 'is-invalid': invalid }" :id="fieldId" :accept="accept" @change="handleFileChange">
            <label class="custom-file-label mb-0" :class="{ 'is-invalid': invalid }" :for="fieldId">{{ displayedFilename }}</label>
        </div>
    </div>
</template>

<script>
export default {
    data () {
        return {
            filename: null
        }
    },
    props: {
        label: {
            type: String,
            required: false
        },
        accept: {
            type: String,
            required: false
        },
        fieldId: {
            type: String,
            required: true
        },
        chooseFileText: {
            type: String,
            default: 'Choose file'
        },
        required: {
            type: Boolean,
            required: false
        },
        invalid: {
            type: Boolean,
            required: false
        },
        disabled: {
            type: Boolean,
            required: false
        }
    },
    computed: {
        displayedFilename () {
            return this.filename ? this.filename : this.chooseFileText;
        }
    },
    methods: {
        handleFileChange (e) {
            this.filename = e.target.files[0] ? e.target.files[0].name : null;
            this.$emit('fileChanged', e.target.files[0]);
        }
    }
}
</script>

<style lang="scss" scoped>
    label {
        &.required {
            font-weight: 600;
        }

        &.custom-file-label.is-invalid::after {
            background-color: #f5c6cb;
        }
    }
</style>
