<template>
    <div class="card mb-2">
        <div class="card-header d-flex align-items-center" data-toggle="collapse" :data-target="'#results-' + type">
            <span><strong>{{ header }}</strong></span>
            <ion-icon :name="isOk ? 'checkmark-circle-outline' : 'close-circle-outline'" class="obj-status-global ml-3" :class="isOk ? 'text-success' : 'text-danger'"></ion-icon>
            <span class="flex-grow-1"></span>
            <span><small>DEF</small><span class="badge badge-secondary ml-1 mr-3">{{ result.quantity.def }}</span> <small>List</small><span class="badge badge-secondary ml-1">{{ result.quantity.user_list }}</span></span>
        </div>
        <div class="collapse" :id="'results-' + type">
            <div class="pl-3 pr-3 pb-3 pt-2">
                <table class="table table-sm table-hover m-0 obj-list">
                    <thead>
                        <th class="border-top-0">Name</th>
                        <th class="obj-notes-th border-top-0">Notes <ion-icon name="information-circle" class="info-icon text-info" data-toggle="tooltip" data-html="true" data-placement="bottom" title="<em>Not found</em> - not present in DEF file<br><em>Not expected</em> - not in your list of expected objects"></ion-icon></th>
                        <th class="text-right obj-status-th border-top-0">Status</th>
                    </thead>
                    <tbody>
                        <tr v-if="result.objects.found" v-for="res in result.objects.found" :key="res">
                            <td>{{ res }}</td>
                            <td></td>
                            <td class="text-right"><span class="badge badge-success d-inline-flex align-items-center"><ion-icon name="checkmark-circle" class="mr-1"></ion-icon> OK</span></td>
                        </tr>
                        <tr v-if="result.objects.not_found" v-for="res in result.objects.not_found" :key="res" class="table-danger">
                            <td>{{ res }}</td>
                            <td>Not found</td>
                            <td class="text-right"><span class="badge badge-danger d-inline-flex align-items-center"><ion-icon name="close-circle" class="mr-1"></ion-icon> NOK</span></td>
                        </tr>
                        <tr v-if="result.objects.not_expected" v-for="res in result.objects.not_expected" :key="res" class="table-warning">
                            <td>{{ res }}</td>
                            <td>Not expected</td>
                            <td class="text-right"><span class="badge badge-danger d-inline-flex align-items-center"><ion-icon name="close-circle" class="mr-1"></ion-icon> NOK</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        type: String,
        result: Object
    },
    data () {
        return {
            objTypes: [
                { name: 'schemas', label: 'Forms' },
                { name: 'active_links', label: 'Active links' },
                { name: 'filters', label: 'Filters' },
                { name: 'al_guides', label: 'Active link guides' },
                { name: 'filter_guides', label: 'Filter guides' },
                { name: 'packing_lists', label: 'Packing lists' },
                { name: 'char_menus', label: 'Menus' },
                { name: 'escalations', label: 'Escalations' },
                { name: 'applications', label: 'Applications' },
                { name: 'web_services', label: 'Web services' },
                { name: 'distributed_mappings', label: 'Distributed mappings' },
                { name: 'distributed_pools', label: 'Distributed pools' },
                { name: 'flashboards', label: 'Flashboards' },
                { name: 'flashboard_alerts', label: 'Flashboard alarms' },
                { name: 'flashboard_variables', label: 'Flashboard variables' },
                { name: 'images', label: 'Images' },
                { name: 'associations', label: 'Associations' }
            ]
        }
    },
    computed: {
        header () {
            const name = this.objTypes.filter(item => {
                return item.name === this.type;
            }, this);
            return name[0].label;
        },
        isOk () {
            return !(this.result.objects.not_found || this.result.objects.not_expected);
        }
    },
    mounted () {
        $(() => {
            $('[data-toggle="tooltip"]').tooltip();
        });
    }
}
</script>

<style scoped lang="scss">
    .obj-status-global {
      font-size: 24px;
    }

    $tblPadding: 0.75rem;

    .obj-list {
      .obj-notes-th {
        min-width: 95px;
        width: 145px;
      }

      .obj-status-th {
        width: 70px;
      }

      th:first-child {
        padding-left: $tblPadding;
      }

      td:first-child {
        @extend th, :first-child;
      }

      th:last-child {
        padding-right: $tblPadding;
      }

      td:last-child {
        @extend th, :last-child;
      }
    }

    .info-icon {
        font-size: 18px;
        opacity: 0.7;
        transition: opacity .1s ease-in;

        &:hover {
        opacity: 1;
        }
    }
</style>
