<template>
    <div class="arx-viewer">
        <div class="row pt-3">
            <div class="col col-12 col-lg-9 mb-3 mb-lg-0">
                <app-b-file-select
                    class="mb-0"
                    fieldId="arx-file"
                    label="AR export file"
                    :required="true"
                    :invalid="noFileChosenError"
                    accept=".arx"
                    chooseFileText="Choose file (*.arx)"
                    @fileChanged="prepareFile($event)"
                    ref="arxField"/>
                <div class="invalid-feedback pt-1" v-if="noFileChosenError">Please provide an AR export file.</div>
            </div>
            <div class="col col-12 col-lg-3">
                <label><strong>Sort columns by</strong></label><br>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-outline-info" :class="{active: orderColumnsBy === 'field'}" @click="orderColumnsBy = 'field'">
                        <input type="radio" name="reorder" value="field" :checked="orderColumnsBy === 'field'"> Field ID
                    </label>
                    <label class="btn btn-outline-info" :class="{active: orderColumnsBy === 'title'}" @click="orderColumnsBy = 'title'">
                        <input type="radio" name="reorder" value="title" :checked="orderColumnsBy === 'title'"> Field label
                    </label>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 d-flex crutch-height align-items-center">
                <button class="btn btn-primary mr-2" @click="parseArx(arxFile)">Read</button>
                <ion-icon v-if="status.code === 1" class="mr-2 ml-1 status-icon" :class="status.class" :name="status.icon"></ion-icon>
                <p class="flex-grow-1 mb-0 mt-auto mb-auto"><span :class="status.class" v-html="status.text"></span></p>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col col-12">
                <transition name="fade" mode="out-in">
                    <tabulator v-if="parsedArx" v-model="arxData" :options="tabulatorOptions" :integration="{ updateStrategy: 'REPLACE' }"/>
                </transition>
            </div>
        </div>
    </div>
</template>

<script>
  import CustomFileSelect from '@/components/global/elements/CustomFileSelect';
  import { TabulatorComponent } from 'vue-tabulator';

  import storeModule from '@/store/modules/arx-viewer';

  import { mapGetters } from 'vuex';
  import Viewer from '@/libraries/modules/arx-viewer/arx-viewer';

  export default {
    metaInfo: {
      title: 'ARX Viewer'
    },
    name: 'arxViewer',
    data () {
      return {
        parsedArx: null,
        noFileChosenError: false,
        parseError: false,
        orderColumnsBy: 'field'
      }
    },
    computed: {
      ...mapGetters({
        arxFileIsSet: 'arxViewer/arxFileIsSet',
        arxFile: 'arxViewer/arxFile'
      }),
      tabulatorOptions () {
        const columns = this.parsedArx ? this.sortColumns(this.parsedArx.fields, this.orderColumnsBy) : [];
        return {
          height: 'calc(100vh - 334px)',
          selectable: false,
          columns: this.parsedArx ? columns : []
        }
      },
      arxData () {
        return this.parsedArx ? this.parsedArx.data : [];
      },
      status () {
        if (this.parseError) {
          return {
            code: 1,
            icon: 'close-circle-outline',
            class: 'text-danger',
            text: 'ARX file is invalid. Please check the file and try again.'
          }
        } else if (this.parsedArx) {
          return {
            code: 2,
            icon: '',
            class: 'text-info',
            text: `Form: <b>${this.parsedArx.schema}</b>`
          }
        } else {
          return {
            code: 0,
            icon: '',
            class: 'text-body',
            text: 'content of the file.'
          }
        }
      }
    },
    methods: {
      prepareFile (file) {
        this.$store.dispatch('arxViewer/setFile', { file });
      },
      parseArx (file) {
        if (!this.arxFileIsSet) {
          this.noFileChosenError = true;
          this.setFocusArxFile();
          return;
        } else {
          this.noFileChosenError = false;
        }

        this.parsedArx = null;
        try {
          this.parsedArx = Viewer.parseArx(file);
          this.parseError = false;
        } catch (e) {
          this.parseError = true;
        }
      },
      setFocusArxFile () {
        this.$refs.arxField.$el.children[1].children[0].focus();
      },
      sortColumns (columns, prop) {
        const sColumns = columns;

        sColumns.sort((a, b) => {
          const prop1 = prop === 'field' ? parseInt(a[prop]) : a[prop],
            prop2 = prop === 'field' ? parseInt(b[prop]) : b[prop];
          if (prop1 > prop2) return 1;
          if (prop1 < prop2) return -1;
          return 0;
        });
        return sColumns;
      }
    },
    created () {
      this.$store.registerModule('arxViewer', storeModule);
      this.$store.dispatch('updateHeadData');
    },
    components: {
      appBFileSelect: CustomFileSelect,
      tabulator: TabulatorComponent
    },
    beforeDestroy () {
      this.$store.commit('arxViewer/flush');
      this.$store.unregisterModule('arxViewer');
    }
  }
</script>

<style lang='scss'>
    @import "~vue-tabulator/dist/scss/bootstrap/tabulator_bootstrap4";
    @import "../../scss/modules_common";

    .arx-viewer .btn-group {
        width: 100%;

        .btn-outline-info {
            width: 100%;
        }
    }
</style>
