<template>
  <div class="home pt-5">
    <div class="logo jumbotron jumbotron-fluid bg-white pt-5 mb-5">
      <div class="container">
        <h1 class="main-logo">helpr();</h1>
        <h2 class="description pt-2">Toolkit for software developers.</h2>
      </div>
    </div>
    <div class="card-columns">
      <div
        class="card shadow-sm"
        v-for="tool in tools"
        :key="tool.name"
      >
        <router-link
          :to="{ name: tool.path }"
          tag="div"
          class="card-body is-link"
        >
          <h4 class="mb-1">{{ tool.name }}</h4>
          <span
            class="badge badge-primary badge-pill mb-3 mr-2"
            v-for="tag in tool.tags"
            :key="tag"
          >{{ tag }}</span>
          <p class="mb-0">{{ tool.description }}</p>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'app-home',
  metaInfo: {
    title: 'Helpr',
    titleTemplate: null
  },
  computed: {
    tools () {
      return this.$store.getters.tools;
    }
  },
  created () {
    this.$store.dispatch('updateHeadData');
  }
}
</script>

<style lang="scss" scoped>
.home {
  min-height: calc(100vh - 55px);
}

.logo {
  .tag {
    font-size: 4.5rem !important;
  }

  .description {
    font-weight: 600;
  }
}
@media (min-width: 576px) {
  .card-columns {
    column-count: 1;
  }
}

@media (min-width: 992px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 1600px) {
  .card-columns {
    column-count: 3;
  }
}
</style>

<style lang="scss">
.main-logo {
  font-size: 4.5rem;
  font-weight: 700;
  font-family: "Fira Mono", monospace !important;
}
</style>
