<template>
    <div class="pt-4 pb-4">
        <h2 class="pb-3">Privacy Policy</h2>
        <p>No data is ever sent and/or stored on the server. All data manipulations are running in the browser.</p>
    </div>
</template>

<script>
  export default {
    name: 'privacy-policy',
    metaInfo: {
      title: 'Privacy Policy'
    },
    created () {
      this.$store.dispatch('updateHeadData')
    }
  }
</script>
