<template>
    <div class="modal fade" id="objectListModal" ref="objectListModal" tabindex="-1" role="dialog" aria-labelledby="objectListModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="objectListModalTitle">Object list</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="discardChanges = true">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="obj-types d-flex align-items-start">
                        <div class="obj-types-selector" v-if="!showAll">
                            <button
                                v-for="type in objTypes.slice(0,7)"
                                class="btn btn-sm mr-2 mb-2"
                                :class="{ 'btn-outline-info': !type.selected, 'btn-info': type.selected }"
                                @click="type.selected = !type.selected"
                                :key="type.name">{{ type.label }}</button>
                        </div>
                        <div class="obj-types-selector" v-else>
                            <button
                                v-for="type in objTypes"
                                class="btn btn-sm mr-2 mb-2"
                                :class="{ 'btn-outline-info': !type.selected, 'btn-info': type.selected }"
                                @click="type.selected = !type.selected"
                                :key="type.name">{{ type.label }}</button>
                        </div>
                        <button class="btn btn-sm btn-secondary ml-auto" @click="showAll = !showAll">{{ moreBtnText }}</button>
                    </div>
                    <hr>
                    <div class="obj-lists">
                        <div v-if="nothingSelected" class="alert alert-info mb-2">
                            Select object type which should be checked from the list above.
                        </div>
                        <div class="list" v-else>
                            <div class="card mb-2" v-for="listItem in objTypes" :key="listItem.name" v-show="listItem.selected">
                                <div class="card-header" data-toggle="collapse" :data-target="'#' + 'raw-' + listItem.name">{{ listItem.label }} <span class="badge badge-secondary ml-1">{{ objQty[listItem.name] }}</span></div>
                                <div class="collapse" :id="'raw-' + listItem.name">
                                    <textarea v-model="listItem.rawValues" class="form-control border-0" style="resize: none" rows="8" @input="updateQty" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" @click="clearList(true)">Clear</button>
                    <div class="col"></div> <!-- ie11 margin:auto crutch -->
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Discard</button>
                    <button type="button" class="btn btn-primary" @click="save">Save</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data () {
        return {
            objTypes: [
                { name: 'schemas', label: 'Forms', selected: false, rawValues: [] },
                { name: 'active_links', label: 'Active links', selected: false, rawValues: [] },
                { name: 'filters', label: 'Filters', selected: false, rawValues: [] },
                { name: 'al_guides', label: 'Active link guides', selected: false, rawValues: [] },
                { name: 'filter_guides', label: 'Filter guides', selected: false, rawValues: [] },
                { name: 'packing_lists', label: 'Packing lists', selected: false, rawValues: [] },
                { name: 'char_menus', label: 'Menus', selected: false, rawValues: [] },
                { name: 'escalations', label: 'Escalations', selected: false, rawValues: [] },
                { name: 'applications', label: 'Applications', selected: false, rawValues: [] },
                { name: 'web_services', label: 'Web services', selected: false, rawValues: [] },
                { name: 'distributed_mappings', label: 'Distributed mappings', selected: false, rawValues: [] },
                { name: 'distributed_pools', label: 'Distributed pools', selected: false, rawValues: [] },
                { name: 'flashboards', label: 'Flashboards', selected: false, rawValues: [] },
                { name: 'flashboard_alerts', label: 'Flashboard alarms', selected: false, rawValues: [] },
                { name: 'flashboard_variables', label: 'Flashboard variables', selected: false, rawValues: [] },
                { name: 'images', label: 'Images', selected: false, rawValues: [] },
                { name: 'associations', label: 'Associations', selected: false, rawValues: [] }
            ],
            objList: [],
            showAll: false,
            objQty: {
                schemas: 0,
                active_links: 0,
                filters: 0,
                al_guides: 0,
                filter_guides: 0,
                packing_lists: 0,
                char_menus: 0,
                escalations: 0,
                applications: 0,
                web_services: 0,
                distributed_mappings: 0,
                distributed_pools: 0,
                flashboards: 0,
                flashboard_alerts: 0,
                flashboard_variables: 0,
                images: 0,
                associations: 0
            }
        }
    },
    computed: {
        nothingSelected () {
            const anythingSelected = this.objTypes.filter(type => {
                return type.selected === true;
            });
            return anythingSelected.length === 0;
        },
        moreBtnText () {
            return this.showAll ? 'Show less' : 'Show more';
        }
    },
    methods: {
        clearList (directly) {
            const isClean = this.$store.getters['defChecker/stateIsClean'];
            this.objList = [];
            this.objTypes.forEach(type => {
                type.selected = false;
                type.rawValues = [];
            });
            if (isClean) return;
            if (directly) this.updateQty();
        },
        updateQty () {
            this.objTypes.forEach((item) => {
                const rawArr = (item.rawValues + '').match(/[^\n]+/g);
                if (rawArr) {
                    rawArr.forEach((listItem, index) => {
                        rawArr[index] = listItem.trim();
                        if (rawArr[index] === '') rawArr.splice(index, 1)
                    });
                    this.objQty[item.name] = rawArr.length;
                } else {
                    this.objQty[item.name] = 0;
                }
            });
        },
        save () {
            this.parseRawList();
            this.$store.dispatch('defChecker/commitList', this.objList);

            $(this.$refs.objectListModal).modal('hide');
        },
        parseRawList () {
            const rawList = this.objTypes.slice();
            rawList.forEach(item => {
                const vals = item.rawValues + '';
                let list = vals.match(/[^\n]+/g);
                if (list) {
                    list.forEach((listItem, index) => {
                        list[index] = listItem.trim();
                        if (list[index] === '') list.splice(index, 1);
                    });
                } else {
                    list = [];
                }
                const objExists = this.objList.filter(obj => {
                    if (obj.name === item.name) {
                        obj.values = list;
                        return obj;
                    }
                });
                if (!objExists.length && list.length > 0) {
                    this.objList.push({
                        name: item.name,
                        values: list
                    });
                }
            });
        },
        parseCompiledList () {
            const list = this.objList.slice();
            list.forEach(item => {
                this.objTypes.filter(type => {
                    if (type.name === item.name) {
                        type.rawValues = item.values.join('\n');
                        type.selected = true;
                    }
                });
            });
        }
    },
    mounted () {
        const vm = this;

        $(this.$refs.objectListModal).on('show.bs.modal', function () {
            vm.clearList();
            vm.objList = vm.$store.getters['defChecker/customList'].slice();
            if (vm.objList.length > 0) {
                vm.parseCompiledList();
                vm.updateQty();
            }
        });

        $(this.$refs.objectListModal).on('hidden.bs.modal', function () {
            vm.clearList();
        });
    }
}
</script>

<style>
    @media (min-width: 1600px) {
        .modal-lg {
            max-width: 1000px;
        }
    }

    .obj-lists {
        min-height: 50vh;
    }
</style>
