<template>
    <div class="def-checker">
        <div class="row pt-3">
            <div class="col col-12 col-lg-4 mb-3 mb-lg-0">
                <app-b-file-select class="mb-0" fieldId="def-file" label="DEF file" :required="true" :disabled="checkIsRunning" accept=".def" :invalid="showDefErrMsg" @fileChanged="prepareFile($event, 'def')" ref="defField" />
                <div class="invalid-feedback pt-1" v-if="showDefErrMsg">Please choose a DEF file for analysis.</div>
            </div>
            <div class="col col-12 col-lg-8">
                <label><strong>List of expected objects</strong></label>
                <div class="form-group d-flex align-items-start mb-0">
                    <div class="btn-group mr-3">
                        <button type="button" class="btn btn-outline-info dropdown-toggle" :disabled="checkIsRunning" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Source
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#" @click="selectListType('packingList')">Packing list (.def)</a>
                            <a class="dropdown-item" href="#" @click="selectListType('custom')">Custom object list</a>
                        </div>
                    </div>
                    <div class="mb-0 d-flex flex-grow-1">
                        <app-b-file-select
                          class="flex-grow-1 mb-0"
                          v-if="selectedOL === 'packingList'"
                          key="packingList"
                          fieldId="ol-packing-list"
                          accept=".def"
                          chooseFileText="Choose file (*.def)"
                          :invalid="showListErrMsg"
                          :disabled="checkIsRunning"
                          @fileChanged="prepareFile($event, 'list')"
                          ref="packingList" />
                        <div v-else class="flex-grow-1 d-flex align-items-start">
                            <p class="mt-auto mb-auto mr-3 flex-grow-1">{{ customObjCount === 0 ? 'Custom object list is empty. Click "Edit" to fill it.' : objCountPrettyPrint }}</p>
                            <button type="button" class="btn btn-outline-primary" :class="{ 'btn-outline-primary': !showListErrMsg, 'btn-outline-danger': showListErrMsg }" :disabled="checkIsRunning" data-toggle="modal" data-target="#objectListModal" ref="custom">Edit</button>
                            <!-- Modal window  -->
                            <def-custom-list />
                        </div>
                    </div>
                </div>
                <div class="invalid-feedback pt-1" v-if="showListErrMsg">Please provide an object list.</div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 d-flex crutch-height align-items-center">
                <button class="btn btn-primary mr-2" :disabled="checkIsRunning" @click="checkFiles">{{ checkIsRunning ? 'Working...' : 'Check' }}</button>
                <ion-icon v-if="check.checked" class="mr-2 ml-1 status-icon" :class="status.class" :name="status.icon ? status.icon : 'information-circle-outline'"></ion-icon>
                <app-spinner v-if="checkIsRunning" size="23" class="mr-2 ml-2" />
                <p class="flex-grow-1 mb-0 mt-auto mb-auto"><span :class="status.class" v-html="status.text"></span></p>
            </div>
        </div>
        <transition name="fade" mode="out-in">
          <hr v-if="check.checked && !check.checkError">
        </transition>
        <transition name="slide" mode="out-in">
          <div class="row mt-3" v-if="check.checked">
            <div class="col">
              <def-result-group v-for="(res, type) in response" :result="res" :type="type" :key="type" />
            </div>
          </div>
        </transition>
    </div>
</template>

<script>
    import CustomFileSelect from '@/components/global/elements/CustomFileSelect.vue';
    import CustomListModal from './CustomListModal.vue';
    import ResultGroup from './elements/ResultGroup.vue';

    import storeModule from '@/store/modules/def-checker';

    import Checker from '@/libraries/modules/def-checker/def-checker';
    import { mapGetters } from 'vuex';
    import Spinner from 'vue-simple-spinner';

    export default {
      metaInfo: {
        title: 'Object Definitions Checker'
      },
      name: 'defChecker',
      data () {
        return {
          selectedOL: 'packingList',
          problem: false,
          check: {
            checked: false,
            checkError: false,
            ok: false,
            error: false,
            errorMessage: null
          },
          response: null
        };
      },
      computed: {
        ...mapGetters({
          stateIsClean: 'defChecker/stateIsClean',
          customObjCount: 'defChecker/customObjCount',
          checkIsRunning: 'defChecker/checkIsRunning',
          defFileIsSet: 'defChecker/defFileIsSet',
          objListIsSet: 'defChecker/objListIsSet',
          listType: 'defChecker/listType',
          storeDef: 'defChecker/defFile',
          storeOL: 'defChecker/listFile',
          storePreparedOL: 'defChecker/preparedCustomList'
        }),
        objCountPrettyPrint () {
          return this.customObjCount === 1
            ? this.customObjCount + ' manually added object'
            : this.customObjCount + ' manually added objects';
        },
        showDefErrMsg () {
            return this.problem && !this.defFileIsSet;
        },
        showListErrMsg () {
            return this.problem && !this.objListIsSet;
        },
        status () {
          if (!this.checkIsRunning) {
            if (this.check.checked) {
              if (!this.check.checkError) {
                if (this.check.ok) {
                  return {
                    icon: 'checkmark-circle-outline',
                    class: 'text-success',
                    text: 'Your DEF file is OK!'
                  };
                } else {
                  return {
                    icon: 'help-circle-outline',
                    class: 'text-info',
                    text: 'Something is missing. See details below for more information.'
                  };
                }
              } else {
                return {
                  icon: 'close-circle-outline',
                  class: 'text-danger',
                  text: 'Oops! ' + this.check.errorMessage
                };
              }
            } else {
              if (!this.check.error) {
                return {
                  icon: '',
                  class: 'text-body',
                  text: 'when you\'re ready.'
                };
              } else {
                return {
                  icon: 'close-circle-outline',
                  class: 'text-danger',
                  text: 'Oops! There was an error during analysis. Please try again or <a href="https://bitbucket.org/kadesignlabru/helpr-client/issues" target="_blank">tell us</a> about that.'
                };
              }
            }
          } else {
            return {
              icon: '',
              class: 'text-body',
              text: 'Analysis is in progress.'
            };
          }
        }

      },
      methods: {
        prepareFile (file, type) {
          this.$store.dispatch('defChecker/setFile', { file, type });
        },
        selectListType (type) {
          if (type === this.selectedOL) return;
          this.selectedOL = type;
          this.$store.dispatch('defChecker/clearState');
        },
        checkFiles () {
          if (!this.defFileIsSet || !this.objListIsSet) {
            this.problem = true;
            this.setFocusFirstInvalid();
            return;
          } else {
            this.problem = false;
          }
          this.$store.commit('defChecker/runCheck');
          this.check.checked = false;
          this.check.checkError = false;
          this.check.ok = false;
          this.check.error = false;
          this.response = null;
          this.check.errorMessage = null;

          setTimeout(() => {
            try {
              let data;
              if (this.listType === 'pl') {
                data = Checker.compareFiles(this.storeDef, this.storeOL);
              } else if (this.listType === 'custom') {
                data = Checker.compareDefCustomList(this.storeDef, this.storePreparedOL);
              }

              this.check.checked = true;
              if (data.valid) {
                this.check.ok = (data.status === 'ok');
                this.response = data.results;
              } else {
                this.check.checkError = true;
                this.check.errorMessage = data.message;
              }
            } catch (error) {
              console.log(error);
              this.check.error = true;
              this.response = null;
            } finally {
              this.$store.commit('defChecker/stopCheck');
            }
          }, 100);
        },
        setFocusFirstInvalid () {
          if (!this.defFileIsSet) {
            this.$refs.defField.$el.children[1].children[0].focus();
            return;
          }
          if (!this.objListIsSet) {
            switch (this.selectedOL) {
              case 'packingList':
                this.$refs.packingList.$el.children[0].children[0].focus();
                break;
              case 'custom':
                this.$refs.custom.focus();
                break;
            }
          }
        }
      },
      components: {
        appBFileSelect: CustomFileSelect,
        defCustomList: CustomListModal,
        appSpinner: Spinner,
        defResultGroup: ResultGroup
      },
      created () {
        this.$store.registerModule('defChecker', storeModule);
        this.$store.dispatch('updateHeadData');
      },
      beforeDestroy () {
        this.$store.unregisterModule('defChecker');
      }
    }
</script>

<style lang="scss" scoped>
    @import "../../scss/modules_common";

    @media (min-width: 768px) {
      .execute-btn-group {
        margin-top: 2rem;
      }
    }
</style>
