<template>
  <div id="app" class="container">
    <section v-if="$route.name !== 'home'">
      <app-header />
      <app-component-header v-if="$store.state.currentTool" :componentAttr="toolAttr" />
    </section>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 footer-fix" :class="containerFixClass">
      <router-view />
    </div>
    <app-footer />
  </div>
</template>

<script>
export default {
  metaInfo: {
    titleTemplate: (titleChunk) => {
      return titleChunk ? `${titleChunk} | Helpr` : 'Helpr';
    }
  },
  computed: {
    toolAttr () {
      return {
        name: this.$store.state.currentTool.name || '',
        tags: this.$store.state.currentTool.tags || []
      }
    },
    containerFixClass () {
      if (this.$route.name !== 'home') {
        return this.$store.state.currentTool ? 'content-component' : 'content-page';
      } else {
        return '';
      }
    }
  }
}
</script>

<style lang="scss">
  @mixin fontMono() {
    font-family: 'Fira Mono', monospace;
  }

  @mixin fontSans() {
    font-family: 'Cabin', Arial, Verdana, sans-serif;
  }

  * {
    @include fontSans;
  }

  @media (min-width: 1400px) {
    .container {
      max-width: 1340px;
    }
  }

  @media (min-width: 1600px) {
    .container {
        max-width: 1450px;
    }
  }

  $headerHeight: 56px;
  $componentHeaderHeight: 50px;
  $footerHeight: 55px;

  .container {
    position: relative;

    .content-component {
      min-height: calc(100vh - #{$headerHeight} - #{$componentHeaderHeight});
    }

    .content-page {
      min-height: calc(100vh - #{$headerHeight});
    }
  }

  .footer-fix {
    padding-bottom: $footerHeight;
  }

  .logo-text {
    @include fontMono;
    font-weight: 700;
  }

  .is-link {
    cursor: pointer;
  }

  .modal-dialog {
    .modal.fade & {
      transform: translate(0, 0) !important;
      transition: all .1s linear !important;
    }
  }

  .card-header[data-toggle="collapse"] {
    cursor: pointer;
  }

  $ttColor: rgba(255,255,255,0.9);

  .tooltip {
    .arrow::before {
      background-color: $ttColor;
      border-top-color: #ccc;
      border-bottom-color: #ccc;
    }

    .tooltip-inner {
      background-color: $ttColor;
      color: black !important;
      border: 1px solid #ccc;
      box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    }
  }

  .table-warning {
    td {
      border-top-color: #f5e4b0!important;
    }
  }

  .table-danger {
    td {
      border-top-color: #e49ea5!important;
    }
  }

</style>
