@mixin crutch($hadd) {
  height: calc(2.25rem + #{$hadd});
}

.crutch-height {
  @include crutch(2px);
}

.invalid-feedback {
  display: block;
}

.status-icon {
  font-size: 24px;
}

// Transitions
$transDuration: .2s;

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  transition: all $transDuration ease-in-out;
}

.fade-leave-active {
  @extend .fade-enter;
  @extend .fade-enter-active;
}

.slide-enter {
  @extend .fade-enter;
  transform: translateY(10px);
}

.slide-enter-active {
  @extend .fade-enter-active;
}

.slide-leave-active {
  @extend .slide-enter;
  @extend .fade-enter-active;
}

// Tables
.tabulator {
  border-radius: .25rem;
  border: 1px solid #ced4da;

  .tabulator-header {
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 2px solid rgba(0, 0, 0, .125);
    border-top: 0;

    .tabulator-col {
      background-color: rgba(0, 0, 0, .03);
    }
  }

  .tabulator-row.tabulator-selectable:hover {
    background-color: rgba(0, 0, 0, 0.075);
    cursor: pointer;
  }
}
