<template>
    <div class="row component-header border-bottom rounded-bottom">
        <div class="col d-flex align-items-center">
            <h4 class="name mb-0">{{ componentAttr.name }}</h4>
        </div>
        <div class="col d-flex align-items-center justify-content-end">
            <span class="badge badge-primary badge-pill mr-2" v-for="tag in componentAttr.tags" :key="tag">{{ tag }}</span>
        </div>
    </div>
</template>

<script>
export default {
  props: {
    componentAttr: {
      type: Object
    }
  }
}
</script>

<style>
    .component-header {
        height: 50px;
        background-color: #eee;
        margin-left: 0;
        margin-right: 0;
    }
</style>
