<template>
    <footer class="row pl-3 pr-3">
        <div class="col d-flex align-items-center">
            <p class="mb-0 mr-5 txt">&copy; {{ year }}</p>
            <ul class="nav" v-if="$route.name === 'home'">
                <li class="nav-item">
                    <router-link :to="{name: 'privacy-policy'}" class="nav-link" active-class="active">privacy policy</router-link>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://bitbucket.org/kadesign/helpr/issues" target="_blank">report a bug</a>
                </li>
            </ul>
        </div>
        <div class="col d-flex align-items-center justify-content-end">
            <img class="kdl-logo" src="@/assets/kdl-square-150.png" alt="ka.designlab">
        </div>
    </footer>
</template>

<script>
export default {
  computed: {
    year () {
      return new Date().getFullYear();
    }
  }
}
</script>

<style lang="scss" scoped>
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;

        .txt {
            color: #aaa;
        }

        .kdl-logo {
            width: 35px;
            height: 35px;
            opacity: .3;
            margin: 10px 0;
        }
    }
</style>
