<template>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <router-link :to="{ name: 'home' }" class="navbar-brand logo-text">helpr();</router-link>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#" id="navbarDropdown"
                        role="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    tools
                    </a>
                    <div
                        class="dropdown-menu"
                        aria-labelledby="navbarDropdown">
                        <router-link :to="{name: 'def-checker'}" class="dropdown-item" active-class="active">Object Definitions Checker</router-link>
                        <router-link :to="{name: 'arx-viewer'}" class="dropdown-item" active-class="active">ARX Viewer</router-link>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://bitbucket.org/kadesign/helpr/issues" target="_blank">report a bug</a>
                </li>
                <li class="nav-item">
                    <router-link :to="{name: 'privacy-policy'}" class="nav-item" tag="li" active-class="active">
                        <a class="nav-link" href="#">privacy policy</a>
                    </router-link>
                </li>
            </ul>
        </div>
    </nav>
</template>
